bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

.vscode/
.vs/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

Generated\

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

AppPackages/

# test stuff Farhat is using
test/
PeerReviewApp/